# Core libraries
numpy==1.24.4
pandas
scipy
tqdm
matplotlib
scikit-learn

# Deep Learning (PyTorch + Transformer)
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0

# Computer Vision & MediaPipe
opencv-contrib-python==4.11.0.86
mediapipe==0.10.14
imutils

# Utilities
pygame
h5py

# Optional: for lightweight/edge devices
# tflite-runtime
